# Ambiente: true = Testes (staging), false = Produção
USE_STAGING=false

# URLs da API Principal
API_URL_PROD=
API_URL_STAGING=

API_IOT_URL=

# StreamServer VMS Configuration
STREAMSERVER_API_URL=
STREAMSERVER_STREAM_URL=
STREAMSERVER_HLS_URL=
